In [ ]:
#Diictionary data structure
Unordered: Dictionaries in Python are unordered, which means that the elements in a dictionary do not have a specific order.

Mutable: Dictionaries are mutable, which means that you can modify the values associated with a key.

Key-value pairs: Dictionaries store data in the form of key-value pairs. Each key is associated with a value, and the key-value pairs are separated by commas and enclosed in curly braces {}.

Keys are unique: In a dictionary, keys are unique. If you try to assign a new value to an existing key, the new value will overwrite the old value.

Keys must be immutable:

In [1]:
#define a dictionary
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [3]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [4]:
my_dict.values()

dict_values(['John', 30, 'New York'])

In [20]:
my_dict.items()

dict_items([('name', ('Nobel',)), ('age', 30), ('city', 'Tampere')])

In [21]:
len(my_dict.items())

3

In [5]:
#Accesing the values with keys with third bracket
print(my_dict['name'])
print(my_dict['age'])

John
30

In [6]:
#updating or replacing the values in dictionary 
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_dict['age'] = 35
print(my_dict)

{'name': 'John', 'age': 35, 'city': 'New York'}

In [23]:
#adding the new elements with key
my_dict[10+20j]="yy"
print(my_dict)

{'name': ('Nobel',), 'age': 30, 'city': 'Tampere', (10+20j): 'yy'}

In [25]:
#anouther method of accesing the value callled get() metood
my_dict.get("age")

30

In [10]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
my_dict["name"] = "Nobel", 
my_dict["city"] = "Tampere"
print(my_dict)

{'name': ('Nobel',), 'age': 30, 'city': 'Tampere'}

In [12]:
#Adding a new key-value pair to a dictionary:
#To add a new key-value pair to a dictionary, you can use the square bracket notation [] and assign a new value to a new key
my_dict["school_name"]= "Disco"
print(my_dict)

{'name': ('Nobel',), 'age': 30, 'city': 'Tampere', 'school_name': 'Disco'}

In [17]:
#Removing the key value with del function
del my_dict["school_name"]
print(my_dict)

{'name': ('Nobel',), 'age': 30, 'city': 'Tampere'}

In [18]:
type(my_dict)

dict

In [26]:
my_dict

{'name': ('Nobel',), 'age': 30, 'city': 'Tampere', (10+20j): 'yy'}

In [27]:
id(my_dict)

140288136483328

In [28]:
type(my_dict)

dict

In [33]:
dc3= my_dict.copy()
dc3

{'name': ('Nobel',), 'age': 30, 'city': 'Tampere', (10+20j): 'yy'}

In [34]:
id(dc3)

140288123417408

In [36]:
a = b = c = 30

In [37]:
id(a) is id(b)

False

In [38]:
 a is b

True

In [40]:
#anouther way to define and check dicttionary
d_=dict()
type(d_)

dict

In [41]:
d_

{}

In [42]:
dc3

{'name': ('Nobel',), 'age': 30, 'city': 'Tampere', (10+20j): 'yy'}

In [44]:
#replace the value
dc3["age"]=35
dc3

{'name': ('Nobel',), 'age': 35, 'city': 'Tampere', (10+20j): 'yy'}

In [46]:
#passing two values in dictionary
dc3["mango"]= "tree",10
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10)}

In [47]:
#passing two key is not allow
dc3["mango", "banana"]= "tree",10
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10)}

In [50]:
#passing list and tuples as values
dc3["mala"]=[7,5,7]
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7]}

In [51]:
#tuple
dc3["tika"]=(7,5,7)
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7)}

In [52]:
#we can also pass extra with list
dc3["pesha"]=[7,5,7],78
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7),
 'pesha': ([7, 5, 7], 78)}

In [53]:
#passing boolean or float as key
dc3["True"]=5
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7),
 'pesha': ([7, 5, 7], 78),
 'True': 5}

In [54]:
dc3[1.5]=5
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7),
 'pesha': ([7, 5, 7], 78),
 'True': 5,
 1.5: 5}

In [58]:
#deleting the value by specifiying keys with del () function
del dc3[1.5]
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7),
 'pesha': ([7, 5, 7], 78),
 'True': 5}

In [60]:
del dc3["pesha"]
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7),
 'True': 5}

In [61]:
#pop method wih specifying key
dc3.pop("True")
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7)}

In [65]:
d7=dc3.copy
print(d7)

<built-in method copy of dict object at 0x7f975fc33340>

In [64]:
d7

In [66]:
dc3

{'name': ('Nobel',),
 'age': 35,
 'city': 'Tampere',
 (10+20j): 'yy',
 'mango': ('tree', 10),
 ('mango', 'banana'): ('tree', 10),
 'mala': [7, 5, 7],
 'tika': (7, 5, 7)}