In [ ]:
#in python which is the most common data structure - range()
range() datatypes represent a sequence of values
always immutable
Creating a range object: The range() function can be used to create a range object. The general syntax of the function is range(start, stop, step), where start is the starting number (inclusive), stop is the ending number (exclusive), and step is the amount by which the numbers increase from start to stop. If start is not specified, it defaults to 0. If step is not specified, it defaults to 1.

Iterating through a range: The range() function can be used in a for loop to iterate through a range of numbers.

In [1]:
#define range with range function
x=range(5)
x

range(0, 5)

In [2]:
x1=range(100)
x1

range(0, 100)

In [3]:
#two parameter
x2=range(10,50)
x2

range(10, 50)

In [7]:
#convert range to list
x3=list(range(1,100))
x3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
#with certain step an 3 parameter
x4=range(5,10,2)
x4

range(5, 10, 2)

In [12]:
x4=list(range(5,10,2))
x4

[5, 7, 9]

In [13]:
#range expected at most 3 arguments
list(range(5,20,3,4))

TypeError: range expected at most 3 arguments, got 4

In [14]:
#if we pass one or two argument
t=range(20)
t

range(0, 20)

In [15]:
d=range(30,50)
d

range(30, 50)

In [16]:
#we can run for loop to acces the range element 
for i in d:
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [19]:
#we can also convert range to list and run for loop
e=list(d)
for a in e:
    print(a)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [20]:
#float' object cannot be interpreted as an integer in range
u=range(10.34,76.7)
u

TypeError: 'float' object cannot be interpreted as an integer

In [22]:
#Checking if a value is in a range
k = range(0, 10)
if 5 in k:
    print("5 is in the range")

5 is in the range

In [23]:
# find length of range
len(k)

10

In [76]:
#acccesing the elements
k[9]

9

In [77]:
#if apply slice in range its give range not all the value
k[0:3]

range(0, 3)

In [ ]:
#Difference between list and set
list allows duplication while set not
list mutable while set not
list have order rule in set no specific order
Lists are often used when the order of elements is important and when duplicate elements are needed, while sets are often used when unique elements are required and the order is not important.

In [36]:
# creating set in two ways, mostly use with second bracket

set1 = {1, 2, 3}
set2 = set([4, 2, 3])

In [38]:
#add & remove method is use for SET but append method is used only for LIST
set1.add("kamila")
set1

{1, 2, 3, 'kamila'}

In [39]:
set1.remove("kamila")
set1

{1, 2, 3}

In [51]:
#by update function you can add more elements
set1.update("b","c")
set1

{1, 2, 3, 'b', 'c'}

In [45]:
set1.add(10,12)
set1

TypeError: set.add() takes exactly one argument (2 given)

In [34]:
#not count duplication, you see 4 is missing 
set_3={"tinku","tara",4, 3,4}
set_3

{3, 4, 'tara', 'tinku'}

In [41]:
#Union of sets: The union of two sets can be obtained using the | operator or the union() method. 
se4=set1 |set2
se4

{1, 2, 3, 4}

In [42]:
set_5=set1.union(set2)
set_5

{1, 2, 3, 4}

In [43]:
#intersection of sets: The intersection of two sets can be obtained using the & operator or the intersection() method
se7=set1&set2
se7

{2, 3}

In [44]:
se8=set1.intersection(set2)
se8

{2, 3}

In [46]:
#you can acces element of set by order indeex
set_5[2]

TypeError: 'set' object is not subscriptable

In [47]:
#Difference of sets: The difference of two sets can be obtained using the - operator or the difference() method.
set_5.difference(se8)

{1, 4}

In [49]:
#symmetric difference of sets: The symmetric difference of two sets can be obtained using the ^ operator or the symmetric_difference() method
set_5.symmetric_difference(se8)

{1, 4}

In [52]:
set1,set2,se7

({1, 2, 3, 'b', 'c'}, {2, 3, 4}, {2, 3})

In [53]:
#find the common element with intersection
set1 & set2

{2, 3}

In [54]:
set1 & set2 & se7

{2, 3}

In [55]:
#subtraction
set1-set2

{1, 'b', 'c'}

In [ ]:
#FRozenset, main difference between sets and frozen sets in Python is that sets are mutable, while frozen sets are immutable.

In [56]:
#only able to add one value at atime with add()function
s3 = {10,20,30,40} 
s3.add(70)
s3

{10, 20, 30, 40, 70}

In [78]:
#not more than more value
s3 = {10,20,30,40} 
s3.add(70,80)
s3

TypeError: set.add() takes exactly one argument (2 given)

In [79]:
#append () not work
s3.append(tinku)

AttributeError: 'set' object has no attribute 'append'

In [81]:
#index is not allowed in set
s3[2]

TypeError: 'set' object is not subscriptable

In [80]:
#slice not allowed in set 
s3[1:4]

TypeError: 'set' object is not subscriptable

In [82]:
#assigning the value with replace not allowed, So noted that if you not indexing you ultimately can not do slicing , assigning.
s3(3)=90
s3

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (835032209.py, line 2)

In [83]:
s3

{10, 20, 30, 40}

In [84]:
#accesing the element of set by Fr loop 
for i in s3:
    print(i)

40
10
20
30

In [86]:
#with enamurate you can get of index of elemnts
for i in enumerate(s3):
    print(i)

(0, 40)
(1, 10)
(2, 20)
(3, 30)

In [87]:
#membership check by in
40 in s3

True

In [88]:
50 in s3

False

In [90]:
#Discard function give result if either the element present or not present in your set
s3.discard(50)
s3

{10, 20, 30, 40}

In [91]:
#but remove() give the error if not exist in set
s3.remove(50)
s3

KeyError: 50

In [94]:
s3

{10, 20, 30, 40}

In [96]:
#copy() function
s4=s3.copy()
s4

{10, 20, 30, 40}

In [97]:
#with clear function you can delete  all the elements
s4.clear()
s4

set()

In [98]:
s3

{10, 20, 30, 40}

In [57]:
#convert set to frozenset
fs = frozenset(s3)
fs

frozenset({10, 20, 30, 40, 70})

In [58]:
fs.add(80)

AttributeError: 'frozenset' object has no attribute 'add'

In [59]:
fs.remove(70)

AttributeError: 'frozenset' object has no attribute 'remove'

In [60]:
fs[1]

TypeError: 'frozenset' object is not subscriptable

In [61]:
type(fs)

frozenset

In [62]:
ti_7 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for a in ti_7:
    print(a)

two
four
six
five
eight
one
three
seven

In [71]:
#enamurate() function help indexing your elements
ti_7 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in enumerate(ti_7):
    print(i)

(0, 'two')
(1, 'four')
(2, 'six')
(3, 'five')
(4, 'eight')
(5, 'one')
(6, 'three')
(7, 'seven')

In [74]:
#using condition to know or check
if 'three' in ti_7: 
    print('Three is present in the set')
else:
    print("Three is not present in the set")

Three is present in the set

In [102]:
s3

{10, 20, 30, 40}

In [103]:
id(s3)

140187306392064

In [104]:
s3,s4,ti_7

({10, 20, 30, 40},
 set(),
 {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'})

In [106]:
s3.union(s4,ti_7)

{10,
 20,
 30,
 40,
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [107]:
s3.intersection(s4,ti_7)

set()

In [109]:
s3.update(s4,ti_7)
s3

{10,
 20,
 30,
 40,
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [113]:
s3 and(s4,ti_7)
s3

{10,
 20,
 30,
 40,
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}